<div class="tablero-container"> 
  <div class="tablero" *ngFor="let tablero of tableros">
    <h3>{{ tablero.nombre }}</h3>
    <button (click)="eliminarTablero(tablero.id)">🗑 Eliminar</button>

    <div
      class="tablero-preview"
      [ngStyle]="{
        'background-image': 'url(' + tablero.fondo + ')',
        'background-size': 'cover',
        'background-position': 'center'
      }"
    >
      <div class="celda" *ngFor="let celda of celdasVacias"></div>
    </div>
  </div>

  <div class="tablero" *ngIf="!tableros.length">
    <p>No hay tableros disponibles.</p>
  </div>
</div>
