canvas {
  border: 2px solid var(--color-primary);
  border-radius: var(--radius-md);
  background-color: #ffffff;
  width: 25rem;
  height: 25rem;
  max-width: 70vw;
}

.elementos-visuales {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.botones {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0.5rem;
}

.botones-dibujo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.botones button {
  background-color: var(--color-primary);
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 999px;
  cursor: pointer;
  border: none;
  font-size: 1rem;
}

.selector-color {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #ccc;
  background-color: #ffffff;
  display: inline-block;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

@media (max-width: 700px) {
  canvas {
    width: 15rem;
    height: 15rem;
  }
  .elementos-visuales {
    flex-direction: column;
    align-items: center;
  }
  .botones-dibujo {
    flex-direction: row;
  }
}

@media (max-width: 500px) {
  canvas {
    width: 10rem;
    height: 10rem;
  }
}
