<h2 mat-dialog-title>Mini Paint</h2>
<mat-dialog-content>
    <input type="color" [(ngModel)]="colorActual" />
    <button (click)="usarBorrador()">Borrador</button>
    <button (click)="usarLapiz()">Lápiz</button>
    <canvas #canvas
        (mousedown)="startDrawing($event)"
        (mouseup)="endDrawing()"
        (mouseleave)="endDrawing()"
        (mousemove)="draw($event)">
    </canvas>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button mat-raised-button color="primary" (click)="onCloseClick()">Guardar</button>
</mat-dialog-actions>
