table {
  border-collapse: collapse;
  margin-top: 1rem;
}
td {
  padding: 0.5rem;
  vertical-align: top;
  cursor: pointer;
}

.controles {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controles div {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.controles button {
  margin: 2px;
  font-size: 1.2rem;
}
.celda{
  width: 100px;
  height: 100px;
}
.celda:hover {
  background-color: #0000006c;
  #masTablero {
    display: block;
  }
}
#masTablero {
  display: none;
  position: center;
  padding: 0.5rem;
}