.contenedor-tablero-panel {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  margin-top: 1rem;
  width: 75%;
}

.tablero-wrapper {
  flex: 1;
  max-width: 75vw;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  margin-bottom: 1rem;
  width: 100%;
}

td {
  width: 100px;
  height: 100px;
  vertical-align: top;
  cursor: pointer;
  border: 1px solid black;
  text-align: center;
}
.celda {
  display: flex;
  justify-content: center;
  align-items: center;
}
.celda:hover {
  background-color: #00000015;
  #masTablero{
    display: block !important;
  }
}
#masTablero{
  display: flex;
  display: none;
}
.panel-lateral {
  width: 25vw;
  min-width: 200px;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #ccc;
  background: #f5f5f5;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 6px #00000020;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cerrar {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}
.cerrar:hover {
  color: #000;
}
