<div class="p-4">
  <div *ngIf="!tableroGenerado">
    <h2>Crear Tablero</h2>
    <label>
      Nombre:
      <input [(ngModel)]="nombreTablero" />
    </label>
    Filas:
    <input type="number" [(ngModel)]="filas" min="1" />
    Columnas:
    <input type="number" [(ngModel)]="columnas" min="1" />
    <button (click)="generarTablero()">Generar</button>
  </div>
  <div *ngIf="tableroGenerado">
    <h2>Tablero: {{ nombreTablero }}</h2>
  </div>
  <div *ngIf="tableroGrid.length" class="contenedor-tablero-panel">
  <div class="tablero-container">
    <div *ngIf="mostrarZoom" style="margin-bottom: 1rem;">
      Zoom:
      <button (click)="zoomIn()">+</button>
      <button (click)="zoomOut()">−</button>
      <button *ngIf="zoomLevel != 1" (click)="zoomReset()">Reset</button>
    </div>
    <div class="tablero-wrapper">
      <div class="tablero-zoom" [ngStyle]="{ transform: 'scale(' + zoomLevel + ')' }">
        <table>
          <tr *ngFor="let fila of tableroGrid; let i = index">
            <td *ngFor="let celda of fila; let j = index"
                (click)="seleccionarCelda(i, j)">
              <div class="celda">
                <div>
                  <p id="masTablero">+</p>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <button (click)="guardarTablero()">Guardar Tablero</button>
  </div>
  <div *ngIf="selectedCell" class="panel-lateral">
    <div class="panel-header">
      <h3>Celda: ({{ selectedCell.fila }}, {{ selectedCell.columna }})</h3>
      <button class="cerrar" (click)="cerrarPanel()">✕</button>
    </div>
    <div class="agregar">
      <p><strong>Agregar acción:</strong></p>
      <button *ngFor="let tipo of accionesDisponibles"
              (click)="mostrarFormularioAccion(tipo)">
        + {{ tipo }}
      </button>
    </div>
    <div *ngIf="nuevaAccion" class="formulario-accion">
      <h4>Configurar acción: {{ nuevaAccion.tipo }}</h4>
      <div *ngIf="nuevaAccion?.tipo === 'audio'">
        <label>Archivo MP3:
          <input type="file" accept=".mp3" (change)="onArchivoAudioChange($event)">
        </label>
      </div>
      <div *ngIf="nuevaAccion?.tipo === 'movimiento'">
        <p>Seleccionar acción:</p>
        <button (click)="setDireccionMovimiento('avanzar')">Avanzar</button>
        <button (click)="setDireccionMovimiento('girar')">Girar</button>
        <p><strong>Elegido:</strong> {{ getDireccionMovimiento() }}</p>
      </div>
      <div *ngIf="luz">
        <input type="color" [(ngModel)]="luz.color">
        <input type="number" [(ngModel)]="luz.intervalo">
        <button (click)="setLuz(luz.color, luz.intervalo)">Agregar</button>
      </div>

    </div>
    <div class="preview">
      <p><strong>Acciones actuales:</strong></p>
      <ul>
        <li *ngFor="let accion of tableroGrid[selectedCell.fila][selectedCell.columna].acciones">
          {{ getDescripcionAccion(accion) }}
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
