<div class="p-4">
  <div *ngIf="tablero">
    <h2>Tablero: {{ tablero.nombre }}</h2>
  </div>

  <p *ngIf="cargando">Cargando tablero...</p>

  <div *ngIf="!cargando && tableroGrid.length" class="contenedor-tablero-panel">
    <div class="controles">
        <button (click)="moverRobot('arriba')">⬆️</button>
        <div>
            <button (click)="moverRobot('izquierda')">⬅️</button>
            <button (click)="">play</button>
            <button (click)="moverRobot('derecha')">➡️</button>
        </div>
        <button (click)="moverRobot('abajo')">⬇️</button>
    </div>
    <div class="tablero-container">
      <div style="margin-bottom: 1rem;">
        Zoom:
        <button (click)="zoomIn()">+</button>
        <button (click)="zoomOut()">−</button>
        <button *ngIf="zoomLevel !== 1" (click)="zoomReset()">Reset</button>
      </div>
      <div class="tablero-wrapper">
        <div class="tablero-zoom" [ngStyle]="{ transform: 'scale(' + zoomLevel + ')' }">
          <table>
            <tr *ngFor="let fila of tableroGrid; let i = index">
              <td *ngFor="let celda of fila; let j = index" (click)="seleccionarCelda(i, j)">
                <div class="celda">
                    <div>
                        <p id="masTablero">({{ i }}, {{ j }})</p>
                    </div>
                    <div *ngIf="robotPos.fila === i && robotPos.columna === j">
                        <strong style="color: red;">🤖</strong>
                    </div>      
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="selectedCell" class="panel-lateral">
      <div class="panel-header">
        <h3>Celda: ({{ selectedCell.fila }}, {{ selectedCell.columna }})</h3>
        <button class="cerrar" (click)="cerrarPanel()">✕</button>
      </div>
      <div class="preview">
        <p><strong>Acciones actuales:</strong></p>
        <ul>
          <li *ngFor="let accion of tableroGrid[selectedCell!.fila][selectedCell!.columna].acciones" style="margin-bottom: 1em;">
            <div>
              {{ getDescripcionAccion(accion) }}

              <ng-container *ngIf="esAudio(accion)">
                <button (click)="reproducirAudio(accion.archivo)">🔊</button>
              </ng-container>
            </div>

            <div style="display: flex; align-items: center; gap: 0.5em; margin-top: 0.3em;">
              <label style="font-size: 0.9em;">Delay: {{ accion.delay }} segundos</label>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="!cargando && !tableroGrid.length">
    <p>No hay acciones cargadas para este tablero.</p>
  </div>
</div>