<div class="p-4">
  <p *ngIf="cargando">Cargando tablero...</p>

  <div *ngIf="!cargando && tableroGrid.length" class="contenedor-tablero-panel">
    <div class="controles">
        <button (click)="moverRobot('arriba')">⬆️</button>
        <div>
            <button (click)="moverRobot('izquierda')">⬅️</button>
            <button (click)="play()">▶️</button>
            <button (click)="moverRobot('derecha')">➡️</button>
        </div>
        <button (click)="moverRobot('abajo')">⬇️</button>
    </div>
    <div class="tablero-container">
      <div *ngIf="mostrarZoom" style="margin-bottom: 1rem;">
        Zoom:
        <button (click)="zoomIn()">+</button>
        <button (click)="zoomOut()">−</button>
        <button *ngIf="zoomLevel !== 1" (click)="zoomReset()">Reset</button>
      </div>
      <div class="tablero-wrapper">
        <div class="tablero-zoom" [ngStyle]="{ transform: 'scale(' + zoomLevel + ')' }">
           <table class="tablero-especial" style="margin: 0;">
            <tr>
              <td (click)="seleccionarCelda(-1, 0)">
                <div class="celda">
                  <div>
                    <p id="masTablero">(-1, 0)</p>
                  </div>
                  <div *ngIf="robotPos.fila === -1 && robotPos.columna === 0" class="contenedor-robot"
                    [ngClass]="{
                      'rotar-90': robotPos.direccion === 'derecha',
                      'rotar-90neg': robotPos.direccion === 'izquierda',
                      'rotar-180': robotPos.direccion === 'abajo'
                    }">
                    <strong style="color: red;">🤖</strong>
                  </div>
                </div>
              </td>
            </tr>
          </table>
          <table [ngStyle]="getFondoTablero()">
            <tr *ngFor="let fila of tableroGrid; let i = index">
              <td *ngFor="let celda of fila; let j = index" (click)="seleccionarCelda(i, j)" 
                 [ngStyle]="getEstiloCelda(i, j)">
                <div class="celda"style="background: transparent;">
                  <div>
                    <p id="masTablero">+</p>
                  </div>
                  <div *ngIf="robotPos.fila === i && robotPos.columna === j" class="contenedor-robot"
                      [ngClass]="{
                        'rotar-90': robotPos.direccion === 'derecha',
                        'rotar-90neg': robotPos.direccion === 'izquierda',
                        'rotar-180': robotPos.direccion === 'abajo'
                      }">
                      <strong style="color: red;">🤖</strong>
                    </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="panel-lateral">
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <h2>Tablero: {{ tablero.nombre }}</h2>
      </div>
      <!-- BOTON FONDO Y COLOR DE LINEA -->
      <div *ngIf="!selectedCell" class="panel-lateral-sin-celda">
        <h2>Panel de acciones</h2>
        <p>Selecciona una celda del tablero para ver o editar sus acciones.</p>
      </div>
      <div *ngIf="selectedCell">
        <div class="panel-header">
        <div style="display: flex; justify-content: space-between; width: 100%;">
          <h3>Celda: ({{ selectedCell.fila }}, {{ selectedCell.columna }})</h3>
          <button class="cerrar" (click)="cerrarPanel()">✕</button>
        </div>
        <hr style="border: none; height: 1px; background-color: #b4b4b4; width: 100%; margin: 0.5rem 0;">
      </div>
      <div class="preview">
        <p><strong>Acciones actuales:</strong></p>
        <ul>
          <ng-container *ngIf="selectedCell.fila === -1">
            <li *ngFor="let accion of mainTagAccions"
                [ngClass]="'accion-' + accion.constructor.name">
              {{ getDescripcionAccion(accion) }}
              <ng-container *ngIf="esAudio(accion)">
                <button (click)="reproducirAudio(accion.archivo)">🔊</button>
              </ng-container>
            </li>
          </ng-container>
          <ng-container *ngIf="selectedCell.fila !== -1">
            <li *ngFor="let accion of tableroGrid[selectedCell.fila][selectedCell.columna].acciones"
                [ngClass]="'accion-' + accion.constructor.name">
              {{ getDescripcionAccion(accion) }}
              <ng-container *ngIf="esAudio(accion)">
                <button (click)="reproducirAudio(accion.archivo)">🔊</button>
              </ng-container>
            </li>
          </ng-container>
        </ul>
      </div>
  </div>

  <div *ngIf="!cargando && !tableroGrid.length">
    <p>No hay acciones cargadas para este tablero.</p>
  </div>
</div>